.navbar {
	--navbarColor: theme('colors.gray.500');
	--navbarColorHover: theme('colors.gray.900');
	--navbarBgColor: transparent;
	--navbarBgColorCurrent: theme('colors.gray.200');
	--navbarBgColorHover: theme('colors.gray.400');
	--navbarFontSize: theme('fontSize.sm');
	--navbarPaddingBlock: theme('spacing.2');
	--navbarPaddingInline: theme('spacing.4');
	display: flex;
	font-size: var(--navbarFontSize);
}
.navbar__item {
	display: flex;
}
.navbar__link {
	display: flex;
	align-items: center;
	color: var(--navbarColor);
	padding-block: var(--navbarPaddingBlock);
	padding-inline: var(--navbarPaddingInline);
	transition: 0s;
}

.navbar__item:hover > .navbar__link {
	background-color: var(--navbarBgColorHover);
	color: var(--navbarColorHover);
	transition: 0.15s;
}

.current-menu-item > .navbar__link {
	background-color: var(--navbarBgColorCurrent);
}
