.container {
  @apply w-full mx-auto px-4;
}

@screen sm {
  .container{
    max-width: theme("screens.sm");
  }
}

@screen md {
  .container{
    max-width: theme("screens.md");
  }
}

@screen lg {
  .container{
    max-width: theme("screens.lg");
  }
}

@screen xl {
  .container{
    max-width: theme("screens.xl");
  }
}

.container-fluid {
  @apply px-4;
}