.dropdown {
  position: relative;
}
.dropdown__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none; /* list reset */
  padding-left: 0; /* list reset */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: scaleY(0.75);
  transform-origin: left top;
  transition-delay: 0.2s;
  transition-duration: 0s;
  transition-property: opacity, transform;
  z-index: 50;
}
.dropdown:hover .dropdown__menu {
  opacity: 1;
  pointer-events: auto;
  transform: scaleY(1);
  transition-delay: 0s;
  transition-duration: 0.15s;
}
.dropdown__link {
  display: block;
}

/*
  Skin
*/
.dropdown__menu {
  @apply shadow-md text-xs;
}
.dropdown__item {
  width: 16rem;
}
.dropdown__link {
  @apply bg-green-700 text-green-200;
  @apply px-4 py-2;
  transition: 0.1s;
}
.dropdown__link:hover {
  @apply bg-green-600 text-white no-underline;
  transition: 0.25s;
}
