.navbar {
	display: flex;
	padding-left: 0;
	list-style-type: none;
}
.navbar__item {
	display: flex;
}
.navbar__link {
	display: flex;
	align-items: center;
}

/**
 * Skin
 */
.navbar {
	@apply text-sm;
}
.navbar__item {
}
.navbar__link {
	@apply text-gray-500;
	@apply px-4 py-2;
	transition: 0s;
}
.navbar__item:hover > .navbar__link {
	@apply text-white no-underline;
	@apply bg-gray-500;
	transition: 0.15s;
}
