.navbar {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.navbar__item {
  display:flex;
}
.navbar__link {
  align-items: center;
  display: flex;
}

/**
 * Skin
 */
.navbar {
  @apply text-sm;
}
.navbar__item {}
.navbar__link {
  @apply text-gray-500;
  @apply px-4 py-2;
  transition: 0s;
}
.navbar__item:hover > .navbar__link {
  @apply text-white no-underline;
  @apply bg-gray-500;
  transition: 0.15s;
}