.pagination {
  @apply flex list-none p-0 border border-gray-200 rounded overflow-hidden;
}
.pagination__item {
}
.pagination__item--next {
}
.pagination__item--prev {
}
.pagination__item--current {
}

.pagination__item:last-child > .pagination__link {
  @apply border-r-0;
}
.pagination__link {
  @apply block text-blue-500 border-r border-gray-200 px-3 py-2;
}
.pagination__link:hover {
  @apply text-white bg-blue-500 no-underline;
}
.pagination__current,
.pagination__elipsis {
  @apply block px-3 py-2 text-gray-500 border-r border-gray-200;
}
