.content > * {
	max-width: var(--wp--style--global--content-size);
	margin-inline: auto;
}

.alignwide {
	width: var(--wp--style--global--wide-size);
	max-width: 100%;
}

.alignfull {
	max-width: none;
}

.alignleft {
	display: inline;
	margin-right: var(--wp--style--block-gap);
	margin-bottom: calc(var(--wp--style--block-gap) / 2);
	float: left;
}

.alignright {
	margin-bottom: calc(var(--wp--style--block-gap) / 2);
	margin-left: var(--wp--style--block-gap);
	float: right;
}

.aligncenter {
	display: block;
	clear: both;
	margin-inline: auto;
}

.alignnone {
	float: none;
}
