/**
 * Block editor button block.
 */

.wp-block-button__link {
	background-color: var(--wp--preset--color--dark-gray);
	border-radius: theme('borderRadius.md');
	color: var(--wp--preset--color--light-gray);
	font-size: var(--wp--preset--font-size--base);
	padding-block: 0.75em;
	padding-inline: 1.5em;
}

.wp-block-button__link:link {
	color: var(--wp--preset--color--light-gray);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:active {
	/*  opacity: 0.8; */
	text-decoration: none;
	@apply ring;
}

.wp-block-button__link:active:hover {
	transform: scale(0.98);
}
