.wp-block-quote > cite {
	@apply text-sm;

	display: block;
	margin-top: calc(var(--wp--style--block-gap) / 2);
}

.wp-block-quote.is-style-default {
	padding: var(--wp--style--block-gap) var(--wp--style--block-gap)
		var(--wp--style--block-gap) calc(2 * var(--wp--style--block-gap));
	border-left: solid 5px theme('colors.gray.500');
	background-color: theme('colors.gray.100');
}
