/**
	Block Editor paragraphs

	Using :where selector to reduce specificity
*/

/* default size and line height for paragraphs */
.content :where(p) {
	font-size: var(--wp--preset--font-size--base);
	line-height: 1.375;
}

.content :where(p):not(:first-child) {
	margin-top: var(--wp--style--block-gap);
}
