.wp-block-quote > cite {
	display: block;
	margin-top: 0.5rem;
	font-size: var(--wp-preset--font-size--sm);
}

.wp-block-quote.is-style-default {
	padding: 1rem 1rem 1rem 2rem;
	border-left: solid 5px theme('colors.gray.500');
	background-color: theme('colors.gray.100');
}
