.wp-block-list {
	padding-left: 1.5em;
	margin-bottom: 1em;
	list-style-position: inside;
}

.wp-block-list--unordered {
	list-style-type: disc;
}

.wp-block-list--ordered {
	list-style-type: decimal;
}
