/*
  Buttons
*/
.btn,
.wp-block-button__link {
	display: inline-block;
	border-width: 1px;
	border-color: transparent;
	background-color: theme('colors.gray.200');
	border-radius: theme('borderRadius.md');
	color: theme('colors.gray.800') !important;
	cursor: pointer;
	font-size: theme('fontSize.sm');
	padding-block: theme('spacing.2');
	padding-inline: theme('spacing.4');
	text-decoration: none;
	transition: 0s;
}
.btn:hover,
.wp-block-button__link:hover {
	background-color: theme('colors.gray.400');
	color: theme('colors.black');
	text-decoration: none !important;
	transition: 0.25s;
}

.btn--small,
.wp-block-button.is-style-small > .wp-block-button__link {
	@apply py-1 px-2;
	@apply text-xs;
}

.btn--large,
.is-style-block > .wp-block-button__link,
.is-style-large > .wp-block-button__link {
	@apply py-4 px-6;
	@apply text-xl;
}

.is-style-block,
.is-style-block > .wp-block-button__link {
	display: block;
}

.btn--outline,
.is-style-outline > .wp-block-button__link {
	border-width: 1px;
	border-color: currentColor;
	background-color: transparent;
	box-shadow: none;
	text-shadow: initial;
}

.btn--outline:hover,
.is-style-outline > .wp-block-button__link:hover {
	text-decoration: underline !important;
}
