{% extends 'base.twig' %}

{% block content %}
	<div class="container mx-auto">
		<header>
			<h1 class="text-2xl">
				Couldn't find that page. Try searching below:
			</h1>
		</header>

		<div class="mt-8">
			{% include 'searchform.twig' with {
				post: post
			} %}
		</div>
	</div>
{% endblock %}
