{% block html_head_container %}
	
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }} font-sans text-gray-800">

		{% include 'views/header.twig' %}

		<div class="container mx-auto" role="document">
			<main class="content">
			{% block content %}{% endblock %}
			</main>
		</div>

		{% include 'views/footer.twig' %}

	</body>

</html>
