<!doctype html>
<html {{ function('language_attributes') }}>

	{% include 'views/head.twig' %}

	<body {{ function('body_class') }}>

		{% include 'views/header.twig' %}

		<div class="container mx-auto" role="document">
			<main class="content"> {% block content %}{% endblock %}
				</main>
			</div>

			{% include 'views/footer.twig' %}

		</body>

	</html>
