{% block html_head_container %}
	
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }} font-sans text-gray-800 break-words">

		{% include 'header.twig' %}

		<main class="mt-8" role="document">
			{% block content %}{% endblock %}
		</main>

		{% include 'footer.twig' %}

		{% if debug %}
			<div class="hidden md:block">{{ dump() }}</div>
		{% endif %}

	</body>

</html>
