{% block html_head_container %}
	
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }} font-sans text-gray-800">

		{% include 'views/header.twig' %}

		<div class="max-w-2xl px-2 mx-auto mt-8" role="document">
			<main>
			{% block content %}{% endblock %}
			</main>
		</div>

		{% include 'views/footer.twig' %}

		{% if debug %}
			{{ dump() }}
		{% endif %}

	</body>

</html>
