<footer class="bg-light clear-both p-4 mt-8">
	<div>
		{{ widgets.footer }}
	</div>
	<div class="mt-8 text-xs text-center">
		<div id="copyright">
			©{{ 'now'|date('Y') }}
			{{ site.name }}
		</div>
	</div>
</footer>
