<footer class="clear-both p-4 mt-8 bg-light">
	<div>
		{{ sidebar_footer }}
	</div>
	<div class="mt-8 text-xs text-center">
		<div id="copyright">
			©{{ 'now'|date('Y') }}
			{{ site.name }}
		</div>
	</div>
</footer>

{{ function('wp_footer') }}
