{% extends "views/base.twig" %}

{% block content %}

    {% for post in posts %}

        <article {{ function('post_class') }}>
            <header>
                <h1 class="text-3xl">{{ post.title }}</h1>
            </header>
            <div class="mt-8 content">
                {{ post.content }}
            </div>
        </article>

    {% endfor %}

{% endblock %}