{% extends 'base.twig' %}

{% block content %}
	<article {{ function('post_class', 'max-w-screen-md mx-auto') }}>
		<header class="{{ post.hide_title == 'true' ? 'hidden' : '' }}">
			<h1 class="text-3xl font-display">
				{{ post.title }}
			</h1>
		</header>
		<div class="mt-8 content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}
