{% extends 'base.twig' %}

{% block content %}
	<article {{ function('post_class', '') }}>
		<header class="max-w-content mx-auto {{
			post.hide_title == 'true'
				? 'hidden'
				: ''
			}}">
			<h1 class="font-display text-3xl">
				{{ post.title }}
			</h1>
		</header>
		<div class="content space-y-wp-gap mt-8">
			{{ post.content }}
		</div>
	</article>
{% endblock %}
