{% extends "base.twig" %}

{% block content %}

    {% if posts.found_posts == 0 %}
        
    <div class="page-header">
        <h1 class="text-2xl">No result for <q>{{ request.get.s }}</q></h1>
    </div>
    
    <div class="mt-8">
        {{ function('get_search_form') }}
    </div>

    {% else %}

    <div class="page-header">
        <h1 class="text-2xl">{{ posts.found_posts == 1 ? '1 result' : posts.found_posts ~ ' results'  }} for <q>{{ request.get.s }}</q></h1>
    </div>

    <div class="mt-8 space-y-8">
        {% for post in posts %}

            {% include "content.twig" with {post: post}  %}

        {% endfor %}
    </div>

    {% endif %}

    {% if posts.found_posts > posts|length %}
    {% include "pagination.twig" %}
    {% endif %}
    
{% endblock %}