{% extends 'base.twig' %}

{% block content %}
	<article {{ function('post_class', 'max-w-2xl mx-auto') }}>
		<header>
			<h1 class="text-3xl">
				Password Protected Content
			</h1>
		</header>
		<div class="mt-8 content">
			<p>
				<b>Enter the password below to view this content.</b>
			</p>
			<form class="flex"
				action="{{ site.site_url }}/wp-login.php?action=postpass"
				method="post">
				<label class="screen-reader-text" for="pwbox-{{ post.ID }}">
					Password:
				</label>
				<input class="border-gray-200 rounded-l"
					name="post_password"
					id="pwbox-{{ post.ID }}"
					type="password"
					placeholder="Password"
					size="20"
					maxlength="20" />
				<input class="rounded-l-none btn"
					type="submit"
					name="Submit"
					value="Submit" />
			</form>
		</div>
	</article>
{% endblock %}
