{% extends 'base.twig' %}

{% block content %}
	<article {{ function('post_class', 'max-w-2xl mx-auto') }}>
		<header>
			<h1 class="text-3xl">
				{{ post.title }}
			</h1>
			<div class="text-sm text-gray-400">
				{% include 'meta.twig' with {
					post: post
				} %}
			</div>
			{% if post.edit_link %}
				<a class="underline text-primary" href="{{ post.edit_link }}">edit</a>
			{% endif %}
		</header>
		<div class="mt-8 content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}
