{% extends 'base.twig' %}

{% block content %}
	<article {{ function('post_class', 'max-w-screen-wide mx-auto') }}>
		<header class="{{ post.hide_title == 'true' ? 'hidden' : 'my-8' }}">
			<h1 class="font-display text-6xl">
				{{ post.title }}
			</h1>
		</header>
		<div class="content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}
