/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	z-index: 100000; /* Above WP toolbar. */
	top: 5px;
	left: 5px;
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	font-size: 1em;
	line-height: normal;
	text-decoration: none;
}
