.content {

	/* Clear Floats! */
	display: flow-root;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: theme('fontWeight.bold');
	}
	h1 {
		font-size: theme('fontSize.4xl');
	}
	h2 {
		font-size: theme('fontSize.3xl');
	}
	h3 {
		font-size: theme('fontSize.xl');
	}
	h4 {
		font-size: theme('fontSize.lg');
	}
	h5 {
		font-size: theme('fontSize.base');
	}
	h6 {
		font-size: theme('fontSize.sm');
	}

	/* Spacing */
	p,
	ul,
	ol,
	dl,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	div,
	figure,
	blockquote {
		margin-bottom: 1.5em;
	}
	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: 1em;
	}

	p + p {
		margin-top: -0.5em;
	}
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: -0.5em;
	}

	p:last-child,
	ul:last-child,
	ol:last-child,
	dl:last-child,
	h1:last-child,
	h2:last-child,
	h3:last-child,
	h4:last-child,
	h5:last-child,
	h6:last-child,
	div:last-child {
		margin-bottom: 0;
	}

	/* Lists */
	ol {
		padding-left: 1.5em;
		list-style-type: decimal;
	}
	ul:not(.blocks-gallery-grid) {
		padding-left: 1.5em;
		list-style-type: disc;
	}

	/* Links */
	a:any-link {
		color: theme('gutenberg.colors.primary');
	}
	a:hover,
	a:focus,
	a:active {
		color: theme('gutenberg.colors.loud');
	}
}
