body {
  @apply font-sans text-gray-800;
}

/*
  Headings
*/

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  @apply font-bold;
  @apply leading-tight;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-base;
}
h6 {
  @apply text-sm;
}

/*
  Spacing
*/
p,
ul,
ol,
dl,
:--headings {
  margin-bottom: 1rem;
}
* + :--headings {
  margin-top: 1em;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
:--headings:last-child {
  margin-bottom: 0;
}
p + p {
  margin-top: -0.5em;
}
:--headings + p {
  margin-top: -0.5rem;
}

/*
  Lists
*/
ul {
  list-style-type: disc;
  padding-left: 1.5em; 
}
ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

/*
  Links
*/
a {
  @apply text-blue-500;
}
a:hover {
  @apply text-blue-700;
  @apply underline;
}