h1,h2,h3 {
	margin-bottom:0.5em;
}

.content {
	margin-bottom:$grid-gutter-width * 2;
	p:last-child {
		margin-bottom:0;
	}
}

.menu-item {
	@extend .nav-item;
}

.menu-item>a {
	@extend .nav-link;
}
