<!doctype html>
<html {{ function('language_attributes') }}>

    {% include 'templates/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/header.twig' %}

        <div class="container mx-auto" role="document">
            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>

        {% include 'templates/footer.twig' %}

    </body>

</html>