<article {{ function('post_class') }}>

    <header>
        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        {#<?php get_template_part('templates/entry-meta'); ?>#}
    </header>
    <div>
        {{ post.post_excerpt }}
    </div>

</article>
